.con-ticks a{
        text-decoration: none;
        font-weight: bold;
    }
    .con-ticks .dropdown-menu{
        min-width: 226px;
        margin-top: 0px;
    }
    .con-ticks .dropdown-menu a{
        text-decoration: none;
        font-weight: normal;
    }
    .con-ticks .dropdown-menu span{
        line-height: 21px;
        white-space: normal;
word-wrap: break-word;
    }
.img-extension img{
height: 43px;
border-radius:5px;
}
.ex-row a:hover{
text-decoration: none;
}
.form_attick .extract-tickat #images_carousel {
    float: left;
    margin-bottom: 0;
    width: 31%;
}
.form_attick .extract-info {
    overflow: hidden;
    padding-left: 10px;
}
#form_tick .alert.alert-info{
padding:180px 120px
}
.form_cretick .row-fluid.embed-container{
height: 400px;
width: 487px
}
  .embed-container {
    position: relative;
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
